name: CD Pipeline - Deploy to EC2

on:
  workflow_run:
    workflows: ["CI Pipeline - Java Maven with SonarCloud"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Download CI Artifact
        uses: actions/download-artifact@v4
        with:
          name: cicd-java-maven-artifact
          path: app

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          source: "app/*.jar"
          target: "/home/ubuntu/app"

      - name: Restart Application on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: |
            pkill -f java || true
            cd /home/ubuntu/app
            nohup java -jar *.jar > app.log 2>&1 &
